body {
    background: url(/static/images/cooking-two.jpg);
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    background-size: cover;
    background-color: black;
}

.container {
    width: auto;
}

.content-container {
    background-color: #070707a8;
    border-radius: 11px;
    margin: 30px;
    padding: 50px;
}
.col.s12.col.m6 {
    width: 50%;
}

.content-container.login-container {
    display: block;
    margin-top: 25%;
}

/* ------------------------------------ nav bar */
.nav-wrapper.\#0e0e0e.grey.darken-4 {
    width: 100%;
}

.grey.darken-4 {
    background-color: #0e0e0e !important;
}

a.brand-logo.left {
    color: #ffff00b8;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 50px;
    font-weight: bold;
    margin-left: 41px;
}

nav ul a {
    font-family: 'Big Shoulders Display', cursive;
    color: #fafafa;
    font-size: 33px;
    letter-spacing: 1px;
}

/* ------------------------------------ side nav */
.sidenav li>a {
    color: #fafafa;
    display: block;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
    letter-spacing: 2px;
}

i.fas.fa-bars {
    color: #ffff00b8;
}

/* side nav home icon image */
img.logo-image {
    height: 200px;
    width: 200px;
}

/* ------------------------------------ Home Page */
.content-container.home-container {
    margin-top: 20%;
}

.row.benefits.center-align {
    display: flex;
}

h3.home-header.center-align {
    color: #fafafa;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
}

/* font icons */
.fa, .fas {
    font-weight: 900;
    font-size: 20px;
}

i.fas.fa-user {
    font-size: 60px;
    color: #2c6adc;
}

i.fas.fa-book {
    font-size: 60px;
    color: #2c6adc;
}

i.fas.fa-arrow-alt-circle-up {
    font-size: 60px;
    color: #2c6adc;
}

/*  buttons */
button.submit-button {
    color: #fafafa;
    font-size: 30px;
    padding-top: 4px;
    background: rgba(255,255,255 / 22%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    padding: 13px;
}

a.register-button {
    font-size: 25px;
    padding-top: 4p;
    font-size: 18px;
    padding-top: 4p;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 2px solid #fafafa;
    cursor: pointer;
}

a.login-button-text {
    color: #2c6adc;
}

p.registered-text.center-align {
    font-size: 20px;
    font-weight: 800;
    margin-top: 45px;
}
/* ------------------------------------ About Page */
.content-container.about-container {
    margin-top: 20%;
}
button.submit-button {
    font-size: 25px;
    padding-top: 4p;
    font-size: 18px;
    padding-top: 4p;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 2px solid #ffff00b8;
    cursor: pointer;
}

a.register-button-text {
    color: #ffff00b8;
}

a.login-button-text {
    color: #2c6adc;
}

p.registered-text.center-align {
    font-size: 22px;
    font-weight: 800;
}

p.center-align {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
}

/* ------------------------------------ Recipe Card Page */
a.view-button {
    font-size: 19px;
    padding-top: 4px;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 2px solid #5ca7e7;
    cursor: pointer;
    letter-spacing: 1px;
}
a.edit-button {
    font-size: 19px;
    padding-top: 4px;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 2px solid #5ca7e7;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
}
a.delete-button {
    font-size: 19px;
    padding-top: 4px;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 2px solid #5ca7e7;
    cursor: pointer;
    letter-spacing: 1px

}
.card .card-image {
    position: relative; 
}

h1.menu-header {
    font-size: 55px;
}

hr.menu-header-hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #414348;
    margin-top: 3px;
}

/* recipe cards */
.row.meal-row {
    margin-top: 15pxpx;
}

.card.meal-card {
    background-color: transparent;
    padding-bottom: 20px;
}

span.card-meal-title {
    font-size: 25px;
    font-weight: 600;
}

.meal-overview {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
}

hr.meal-title-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #414348;
    margin-bottom: 20px;
}

/* user hyperlink styling */
a.created-by {
    font-size: 20px;
    font-weight: 600;
    color: #5ca7e7;
}

/* ------------------------------------ Full Meal Page */
hr.meal-page-breaker {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #5ca7e7;
    margin-bottom: 48px;
}

h3.view-header {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
}

h2.ingredients-header,
h2.directions-header {
    font-size: 38px;
    margin-bottom: 16px;
}

h2.view-instructions {
    font-size: 38px;
    margin-bottom: 16px;
    margin-top: 10px;
}

p.view-description {
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    margin-bottom: -5px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2c6adc;
}

.nutrition-info {
    margin-right: 7px;
    margin-left: 21px;
}

i.far.fa-hourglass {
    font-size: 26px;
    margin-right: 6px;
}

i.fas.fa-utensils {
    margin-right: 7px;
    margin-left: 5px;
}

p.cook-prep {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
}

.meal-pic {
    max-width: 100%;
    height: auto;
}

.ingredients-list {
    font-size: 20px;
}

.meal-instructions {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

/* ------------------------------------ Register Page */
.register-form-guide {
    margin-left: 56px;
    font-size: 15px;
    letter-spacing: 1px;
}

h3.register-header.center-align {
    color: #fafafa;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    margin-bottom: 3rem;
}

h3.social-link-header {
    font-size: 34px;
}

/* register form */
.card-panel {
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: transparent;
}

button.submit-button {
    font-size: 25px;
    padding-top: 4p;
    font-size: 18px;
    padding-top: 4p;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 2px solid #fafafa;
    cursor: pointer;
}

.password-guide {
    margin-left: 42px;
    font-size: 15px;
    margin-bottom: -15px;
    letter-spacing: 1px;
}

/* input fields */
.input-field.col label {
    left: .75rem;
    color: white;
}
input#password {
    color: #fafafa;
}

input#username {
    color: #fafafa;
}

input#profile_about {
    color: #fafafa;
}

input#profile_name {
    color: #fafafa;
}

input#profile_age {
    color: #fafafa;
}

input#profile_city {
    color: #fafafa;
}

input#profile_likes {
    color: #fafafa;
}

input#profile_dislikes {
    color: #fafafa;
}

input#facebook {
    color: #fafafa;
}

input#instagram {
    color: #fafafa;
}

/* icons */
i.far.fa-question-circle.prefix {
    color: #5ca7e7;
}

i.fab.fa-facebook-square.prefix {
    color: #5ca7e7;
}

i.fab.fa-instagram-square.prefix {
    color: #5ca7e7;
}

i.far.fa-thumbs-up.prefix {
    color: #5ca7e7;
}

i.far.fa-thumbs-down.prefix {
    color: #5ca7e7;
}

i.far.fa-envelope.prefix {
    color: #5ca7e7;
}

i.fas.fa-user-edit.prefix {
    color: #5ca7e7;
}

i.far.fa-user {
    color: #5ca7e7;
}

i.fas.fa-key {
    color: #5ca7e7;
}

i.fas.fa-camera-retro.prefix {
    color: #5ca7e7;
}

/* ------------------------------------ Profile Page */
.content-container {
    background-color: #070707a8;
    padding: 10px;
    border-radius: 11px;
    margin-top: 30px;
}

.content-container.profile-container {
    margin-top: 20%;
}

.profile-name-header {
    font-size: 41px;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    font-weight: 600;
    color: #fafafa;
}

img.profile-image.rounded-circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.col-s12.image-div {
    display: flex;
    margin-top: 105px;
    justify-content: center;
}

/* user info */
p.profile-name {
    padding-bottom: 0px;
    
}

p.profile-age {
    margin-bottom: 3px;
}

p.about {
    margin-bottom: -15px;
    font-weight: 600;
    font-size: 35px;
}

p.email {
    font-weight: 600;
    font-size: 35px;
}

.profile-info {
    color: #fafafa;
    font-size: 25px;
}

.row.contact-info {
    margin-top: 63px;
}

strong {
    font-weight: 100;
    font-size: 24px;
}

hr.profile-hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2c6adc;
    margin-top: 0px;
}

i.far.fa-heart {
    color: #2c6adc;
    font-size: 43px;
}

/* social links */
i.fab.fa-instagram {
    color: #fafafa;
    margin-left: 5px;
    font-size: 29px;
}

i.fab.fa-facebook-square.center {
    margin-left: 70px;
    color: #fafafa;
    font-size: 29px;
}

/* ------------------------------------ Add recipes Page */
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-bottom: 0;
}
h3.form-header{
    color: #fafafa;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    margin-top: 5rem;
    margin-bottom: 0;
}

input#meal_name,
input#meal_description,
input#url,
input#calories,
input#carbs,
input#protein,
input#cooking_time,
input#servings,
input#meal_instructions {
    color: #fafafa;
}
input[type="text"] {
    color: #fafafa;
}

input[type="number"] {
    color: #fafafa;
}
.form-guide {
    margin-left: 10px;
}

#ing-btn {
    font-size: 18px;
    padding-top: 4px;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 1px solid #5ca7e7;
    cursor: pointer;
}

i.far.fa-check-circle {
    color: #5ca7e7;
}

label {
    color: #5ca7e7 !important;
    font-weight: 600;
    font-size: 20px;
}

.container.profile-recipe-container {
    margin-top: 100px;
}

button.add-meal-button {
    font-size: 18px;
    padding-top: 4px;
    background: rgb(0 0 0 / 33%);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
    padding: 13px;
    color: #fafafa;
    border: 1px solid #5ca7e7;
    cursor: pointer;
}

.input-field.col label {
    left: .75rem;
    color: white;
    font-size: 16px;
}

.calorie-value {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
    line-height: 82px;
    text-align: center;
    color: #fafafa;
}

.carbs-value {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
    line-height: 82px;
    text-align: center;
    color: #fafafa;
}

.protein-value {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
    line-height: 82px;
    text-align: center;
    color: #fafafa;
}

.time-value {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
    line-height: 82px;
    text-align: center;
    color: #fafafa;
}

.eat-value {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
    line-height: 82px;
    text-align: center;
    color: #fafafa;
    background-color: black;
}

.container-fluid.nutrition-container {
    display: flex;
    align-items: center;
}

/* Edit recipe */

label.active {
    color: #5ca7e7 !important;
    font-weight: 600;
    font-size: 20px !important;
}

h3.edit-form-header{
    color: #fafafa;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .col.s12.col.m6 {
        width: auto;
    }
    .content-container {
        display: table-cell;
    }
    h3.register-header.center-align {
        font-size: 35px;
        margin-bottom: 3rem;
    }
    h3.form-header {
        font-size: 35px;
    }
    h1.menu-header {
        font-size: 35px;
        margin-top: 15px;
    }
    a.view-button,
    a.edit-button,
    a.delete-button {
        font-size: 16px;
        padding: 7px;
    }
    .content-container.login-container {
        display: block;
        margin-top: 30%;
    }
    p {
        font-family: 'Barlow', sans-serif;
        font-size: 21px;
    }
    p.registered-text.center-align {
        font-size: 17px;
        font-weight: 800;
        margin-top: 30px;
    }
    .row.benefits.center-align {
        display: flex;
        flex-direction: column;
    }
    a.brand-logo.left {
        font-size: 33px;
    }
}