{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <h3 class="register-header center-align">Add Recipe</h3>
    <div class="row">
        <form class="col s12 add-recipe-form" method="POST" action="{{ url_for('add_meal') }}">
            <!-- meal name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="meal_name" name="meal_name" minlength="10" maxlength="60" type="text" class="validate"
                        required>
                    <label for="meal_name">What's it called?</label>
                </div>
            </div>