{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <h3 class="register-header center-align">Add Recipe</h3>
    <div class="row">
        <form class="col s12 add-recipe-form" method="POST" action="{{ url_for('add_meal') }}">
            <!-- meal name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="meal_name" name="meal_name" minlength="10" maxlength="25" type="text" class="validate"
                        required>
                    <label for="meal_name">What's it called?</label>
                </div>
                <div class="form-guide">
                    Recipe name must be between 10 and 25 characters long.
                </div>
            </div>
            <!-- description -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="meal_description" name="meal_description" minlength="10" maxlength="300" type="text"
                        required>
                    <label for="meal_description">Tell Us About It</label>
                </div>
                <div class="form-guide">
                    Description must be between 10 and 300 characters long.
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="url" name="url" minlength="10" maxlength="600" type="text" required>
                    <label for="url">Feel free to include and image url here</label>
                </div>
                <div class="form-guide">
                    Please make sure you include the entire image url including https://
                </div>
            </div>
            <!-- ingredients fields -->
            <h3 class="form-header">Ingredients</h3>
            <div id="ingredients-form">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="ingredient_name" minlength="5" maxlength="60" type="text" placeholder="Name">
                    </div>
                    <div class="form-guide">
                        Ingredient name must be between 5 and 60 characters long.
                    </div>
                    <div class="input-field col s12">
                        <input name="ingredient_quantity" minlength="1" maxlength="5" type="number"
                            placeholder="Quantity">
                    </div>
                    <div class="form-guide">
                        Quantity can be up to 5 numbers long.
                    </div>
                    <div class="form-guide">
                    </div>
                    <div class="input-field col s12">
                        <input name="ingredient_unit" minlength="1" maxlength="15" type="text"
                            placeholder="Measurement">
                    </div>
                    <div class="form-guide">
                        Please only use the following units of measurement: tbsp, tsp, cup, ltr, ml etc.
                    </div>
                </div>
            </div>
            <!-- empty ingredient div -->
            <div id="more_ingredients">
            </div>
            <!-- nutrition -->
            <h3 class="form-header">Nutrition</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="calories" name="calories" minlength="1" maxlength="5" type="number" required>
                    <label for="calories">Calories</label>
                </div>
                <div class="form-guide">
                    Calories can be between 1 and 5 numbers long.
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="carbs" name="carbs" minlength="1" maxlength="5" type="number" required>
                    <label for="carbs">Carbs</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="protein" name="protein" minlength="1" maxlength="5" type="number" required>
                    <label for="protein">Protein</label>
                </div>
                <div class="form-guide">
                    Please only use grams for your unit of measurement for the carbs and protien field.
                </div>
            </div>
            <!-- prep time & serving -->
            <h3 class="form-header">Prep</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="cooking_time" name="cooking_time" minlength="1" maxlength="5" type="number" required>
                    <label for="cooking_time">Cooking Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="servings" name="servings" minlength="1" maxlength="5" type="number" required>
                    <label for="servings">Servings</label>
                </div>
                <div class="form-guide">
                    Cooking & serving time must be between 1 and 5 characters making sure to use numbers only.
                </div>
            </div>
            <!-- directions -->
            <h3 class="form-header">Directions</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="meal_instructions" name="meal_instructions" minlength="10" type="text" required>
                </div>
                <div class="form-guide">
                    Directions must be a minumum of 10 characters long.
                </div>
            </div>
            <!-- add meal button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="add-meal-button">
                        Add Meal <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
            <!-- add ingredient button -->
            <div class="input-field col s12 center-align">
                <div class="row">
                    <a id="ing-btn">Add More Ingredients</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}