{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <div class="row">
        <!-- users profile image container -->
        <div class="col-s12 image-div">
            <img src="/static/images/Schema.png" class="profile-image rounded-circle center-align" height="500"
                width="500">
        </div>
    </div>
    <!-- users profile info -->
    <div class="profile-info-container col-6">
        <div class="row">
            <h3 class="profile-name-header">{{ creator.username }}</h3>
            <p class="profile-name"><strong>{{ creator.profile_name }}</strong></p>
            <p class="profile-age"><strong>{{ creator.profile_age }}</strong>
                <strong>{{ creator.profile_city }}</strong></p>
        </div>
    </div>
    <hr class="profile-hr">
    <div class="row likes-dislikes">
        <p class="profile-info"><i class="far fa-heart"></i><strong> {{ creator.profile_likes }}</strong></p>
        <p class="profile-info"><i class="far fa-thumbs-down"></i><strong> {{ creator.profile_dislikes }}</strong></p>
    </div>
    <div class="row about-you">
        <p class="about">About Them</p>
    </div>
    <div class="user-description">
        <strong>{{ creator.profile_about }}</strong>
    </div>
        <!-- users contact info and social links -->
        {% if session.user %}
        <div class="row contact-info">
            <p class="email">Email <strong>{{ creator.email_address }}
                    <a target="_blank" href="{{ creator.social_links[0].facebook }}">
                        <i class="fab fa-facebook-square center"></i>
                    </a>
                    <a target="_blank" href="{{ creator.social_links[0].instagram }}">
                        <i class="fab fa-instagram"></i>
                    </a>
                </strong>
            </p>
        </div>
        {% endif %}
    </div>

    {% endblock %}