{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <h3 class="register-header center-align">Edit your meal here</h3>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_meal', meal_id=meal._id) }}">
            <!-- meal name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="meal_name" name="meal_name" minlength="10" maxlength="60" value="{{ meal.meal_name }}"
                        type="text" class="validate" required>
                    <label for="meal_name">What's it called?</label>
                </div>
            </div>
             <!-- description -->
             <div class="row">
                <div class="input-field col s12">
                    <input id="meal_description" name="meal_description" minlength="10" maxlength="300"
                        value="{{ meal.meal_description }}" type="text" required>
                    <label for="meal_description">Tell Us About It</label>
                </div>
            </div>
            <!-- ingredients fields -->
            <h3 class="register-header">Ingredients</h3>
            <div id="ingredients-form">
                <div class="row">
                    {% for ingredient in meal.meal_ingredients %}
                    <div class="input-field col s12">
                        <input name="ingredient_name" minlength="5" maxlength="100"
                            value="{{ ingredient.ingredient_name }}" type="text" placeholder="Name">
                    </div>
                    <div class="input-field col s12">
                        <input name="ingredient_quantity" minlength="1" maxlength="5"
                            value="{{ ingredient.ingredient_quantity }}" type="text" placeholder="Quantity">
                    </div>
                    <div class="input-field col s12">
                        <input name="ingredient_unit" minlength="1" maxlength="15"
                            value="{{ ingredient.ingredient_unit }}" type="text" placeholder="Measurement">
                    </div>
                    {% endfor %}
                </div>
            </div>
             <!-- empty ingredient div -->
             <div id="more_ingredients">
            </div>
            <!-- nutrition -->
            <h3 class="register-header">Nutrition</h3>
            Please make sure you include the units of measurement i.e. g, kg, lbs
            <div class="row">
                <div class="input-field col s12">
                    <input id="calories" name="calories" minlength="1" maxlength="5" type="text" required>
                    <label for="calories">Calories</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="carbs" name="carbs" minlength="1" maxlength="5" type="text" required>
                    <label for="carbs">Carbs</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="protein" name="protein" minlength="1" maxlength="5" type="text" required>
                    <label for="protein">Protein</label>
                </div>
            </div>
            <!-- prep time & serving -->
            <h3 class="register-header">Prep</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="cooking_time" name="cooking_time" minlength="1" maxlength="5" type="text" required>
                    <label for="cooking_time">Cooking Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="servings" name="servings" minlength="1" maxlength="5" type="text" required>
                    <label for="servings">Servings</label>
                </div>
            </div>
             <!-- directions -->
             <h3 class="register-header">Directions</h3>
             <div class="row">
                 <div class="input-field col s12">
                     <input id="meal_instructions" name="meal_instructions" minlength="10" maxlength="500"
                         value="{{ meal.meal_instructions }}" type="text" required>
                 </div>
             </div>
             <!-- add ingredient button -->
             <div class="input-field col s12 center-align">
                 <div class="row">
                     <a id="ing-btn" class="btn-large teal darken-1 text-shadow">
                         Add More Ingredients<i class="fas fa-plus-square right"></i>
                     </a>
                 </div>