{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <div class="row">
        <div class="col s12">
            <h3 class="home-header center-align">Welcome to Bulk_Bosh!</h3>
        </div>
    </div>
    <!-- site overview -->
    <div class="row">
        <div class="col 12">
            <p class="center-align">
                This app contains recipes primarily focussing on eating right in order for you to
                maintain your physical health and more importantly.... they just taste so good!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col 12">
            <p class="center-align">
                Here you can try these recipes yourself or if you're feeling creative, you can share with others to try.
            </p>
        </div>
    </div>
    <br>
    <!-- site benefits -->
    <div class="row center-align">
        <div class="col m4 s12">
            <i class="fas fa-book"></i><br>
            <p>Easy to follow Recipes</p>
        </div>
        <div class="col m4 s12">
            <i class="fas fa-user"></i><br>
            <p>Create your own profile</p>
        </div>
        <div class="col m4 s12">
            <i class="fas fa-arrow-alt-circle-up"></i><br>
            <p>Upload your own meals</p>
        </div>
    </div>
    <!-- buttons -->
    <div class="container-fluid center-align">
        <div class="row">
                <a href="{{ url_for('register_user') }}">Register Account</a>
            <div class="row">
                <div class="col s12">
                    <p class="registered-text center-align">
                        Already Registered?
                        <a href="{{ url_for('login') }}" class="#2c6adc-text">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}