{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <div class="row">
        <div class="col-s12 image-div">
            {% if each_meal.url %}
                <img src="{{ each_meal.url }}" class="meal-pic" height="700" width="600">
            {% else %}
                <img src="/static/images/no-image-available.png" class="meal-pic" height="700" width="600">
            {% endif %}
        </div>
        <!-- meal details -->
        <div class="profile-info-container col-6">
            <div class="row">
                <h3 class="view-header">{{ each_meal.meal_name }}</h3>
                <p class="cook-prep">
                    <i class="far fa-hourglass"></i>{{ each_meal.cooking_time }}
                    <i class="fas fa-utensils"></i>{{ each_meal.servings }}
                </p>
                <p class="view-description">{{ each_meal.meal_description }}
                    <!-- nutrition -->
                    <div class="container-fluid nutrition-container">
                        <div class="calorie-value">
                            <div class="nutrition-info">
                                {{ each_meal.calories }}
                            </div>
                        </div>
                        Calories
                        <div class="carbs-value">
                            <div class="nutrition-info">
                                {{ each_meal.carbs }}
                            </div>
                        </div>
                        Carbs
                        <div class="protein-value">
                            <div class="nutrition-info">
                                {{ each_meal.protein }}
                            </div>
                        </div>
                        Protein
                        <div class="col s12">
                        </div>
                    </div>
                </p>
                <hr class="meal-page-breaker">
                <!-- ingredients -->
                <h2 class="ingredients-header">Ingredients</h2>
                    {% for ingredient in each_meal.meal_ingredients %}
                    <div class="ingredients-list">
                        {{ ingredient.ingredient_quantity }}
                        {{ ingredient.ingredient_unit }}
                        {{ ingredient.ingredient_name }}
                    </div>
                    {% endfor %}
                    <!-- directions -->
                    <h2 class="directions-header">Directions</h2>
                <p class="meal-instructions">{{ each_meal.meal_instructions }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}