{% extends "index.html" %}
{% block content %}

<div class="content-container profile-container">
    <div class="row">
        <!-- users profile image container -->
        <div class="col-s12 image-div">
        </div>
    </div>
    <!-- users profile info -->
    <div class="profile-info-container col-6">
        <div class="row">
            <h3 class="profile-name-header">{{ username.username }}</h3>
            <p class="profile-name"><strong>{{ username.profile_name }}</strong></p>
            <p class="profile-age"><strong>{{ username.profile_age }}</strong> //
                <strong>{{ username.profile_city }}</strong></p>
        </div>
    </div>
    <hr class="profile-hr">
    <div class="row likes-dislikes">
        <p class="profile-info"><i class="far fa-heart"></i><strong> {{ username.profile_likes }}</strong></p>
        <p class="profile-info"><i class="far fa-thumbs-down"></i><strong> {{ username.profile_dislikes }}</strong></p>
    </div>
    <div class="row about-you">
        <p class="about">About You</p>
    </div>
    <div class="user-description">
        <strong>{{ username.profile_about }}</strong>
    </div>
    <!-- users contact info and social links -->
    <div class="row contact-info">
        <p class="email">Email <strong>{{ username.email_address }}
                <a target="_blank" href="{{ username.social_links[0].facebook }}">
                    <i class="fab fa-facebook-square center"></i>
                </a>
                <a target="_blank" href="{{ username.social_links[0].instagram }}">
                    <i class="fab fa-instagram"></i>
                </a>
            </strong>
        </p>
    </div>
</div>
{% endblock %}