{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <h1 class="menu-header">Menu
    </h1>
    <hr class="menu-header-hr">
    <div class="row meal-row">
        {% for meal in site_meals %}
        <div class="col s12  col m6">
            <div class="card meal-card">
                <div class="card-image">
                    <img alt="meal image" src="{{ meal.url }}">
                </div>
                <span class="card-meal-title">{{ meal.meal_name }}</span>
                <!-- href link to app route functionality to direct users to the meal creator profile -->
                <div>
                    Creator: 
                    <a href="{{ url_for('creator_profile', username=meal.added_by) }}"
                        class="created-by">{{ meal.added_by }}
                    </a>
                </div>
                <!-- short overview of meal -->
                <hr class="meal-title-divider">
                <!-- CRUD functionality buttons -->
                <div class="row">
                    <a href="{{ url_for('meal_detail', meal_id=meal._id) }}" class="view-button">
                        View
                    </a>
                    {% if session.user|lower == meal.added_by|lower %}
                    <a href="{{ url_for('edit_meal', meal_id=meal._id) }}" class="edit-button ">
                        Edit
                    </a>
                    <a href="{{ url_for('delete_meal', meal_id=meal._id) }}" class="delete-button">
                        Remove
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
