{% extends "index.html" %}
{% block content %}

<div class="content-container">
    <h1 class="menu-header">Menu
        <hr class="menu-header-hr">
    </h1>
    <div class="row meal-row">
        {% for meal in site_meals %}
        <div class="col s12 m6">
            <div class="card meal-card">
                <div class="card-image">
                    <img src="{{ meal.url }}">
                </div>
                <span class="card-meal-title">{{ meal.meal_name }}</span>
                <!-- href link to app route functionality to direct users to the meal creator profile -->
                <div>Creator: <a href="{{ url_for('creator_profile', username=meal.added_by) }}"
                        class="created-by">{{ meal.added_by }}</a></div>
                <!-- short overview of meal -->
                <hr class="meal-title-divider">
                <div class="meal-overview">
                    {{ meal.overview }}
                </div>