{% extends "index.html" %}
{% block content %}

<div class="content-container">
<h3 class="register-header center-align">Register</h3>
<!-- registration form -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register_user') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-user prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
                <div class="register-form-guide">
                    Username must be between 5 and 15 characters long, this can include both numbers and letters.
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                    <div class="password-guide">
                        Your password must contain minimum of 5 characters and a maximum of 15 characters.
                        This can be a mix of numbers and letters only
                    </div>
                </div>
            </div>
             <!-- name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-question-circle prefix"></i>
                    <input id="profile_name" name="profile_name" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_name">What do they call you?</label>
                </div>
                <div class="register-form-guide">
                    Your name must be between 10 and 60 characters long making sure to ONLY include letters
                </div>
            </div>
            <!-- age -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-question-circle prefix"></i>
                    <input id="profile_age" name="profile_age" minlength="2" maxlength="2" type="text" class="validate"
                        required>
                    <label for="profile_age">Age</label>
                </div>
            </div>
            <!-- city/town -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-question-circle prefix"></i>
                    <input id="profile_city" name="profile_city" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_city">Where are you from?</label>
                </div>
                <div class="register-form-guide">
                    Your location must be between 10 and 60 characters long maing sue to ONLY include letters.
                </div>
            </div>
            <!-- likes -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-thumbs-up prefix"></i>
                    <input id="profile_likes" name="profile_likes" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_likes">Likes about eating healthy?</label>
                </div>
                <div class="register-form-guide">
                    Description must be between 10 and 60 characters long
                </div>
            </div>
            <!-- dislikes -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-thumbs-down prefix"></i>
                    <input id="profile_dislikes" name="profile_dislikes" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_dislikes">Dislikes about eating healthy?</label>
                </div>
                <div class="register-form-guide">
                    Description must be between 10 and 60 characters long
                </div>
            </div>
            <!-- about you -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-edit prefix"></i>
                    <input id="profile_about" name="profile_about" minlength="10" maxlength="200" type="text"
                        class="validate" required>
                    <label for="profile_about">Tell us a bit about yourself</label>
                </div>
                <div class="register-form-guide">
                    Description must be between 10 and 200 characters long
                </div>
            </div>
            <!-- social links -->
            <h3 class="social-link-header">Social Links</h3>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fab fa-facebook-square prefix"></i>
                    <input id="facebook" name="facebook" minlength="10" maxlength="60" type="text" class="validate"
                        required>
                    <label for="facebook">Do you have a Facebook Link?</label>
                </div>
                <div class="register-form-guide">
                    Please include the full url to your social media profile including https://
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fab fa-instagram-square prefix"></i>
                    <input id="instagram" name="instagram" minlength="10" maxlength="60" type="text" class="validate"
                        required>
                    <label for="instagram">Do you have an Instagram Link?</label>
                </div>
                <div class="register-form-guide">
                    Please include the full url to your social media profile including https://
                </div>
            </div>
            <!-- contact info  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-envelope prefix"></i>
                    <input id="email_address" name="email_address" minlength="10" maxlength="100" type="text"
                        class="validate" required>
                    <label for="email_address">Email Address</label>
                </div>
                <div class="register-form-guide">
                    Pleaze make sure your email address is no longer than 100 characters, this can include both numbers and letters.
                </div>
            </div>
            <!-- register -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="submit-button">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}