{% extends "index.html" %}
{% block content %}

<div class="content-container">
<h3 class="register-header center-align">Register</h3>
<!-- registration form -->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register_user') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-user prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                    <div class="password-guide">
                        Your password must contain minimum of 5 characters and a maximum of 15 characters.
                        This can be a mix of nunmbers and letters only
                    </div>
                </div>
            </div>
             <!-- name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-question-circle prefix"></i>
                    <input id="profile_name" name="profile_name" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_name">What do they call you?</label>
                </div>
            </div>
            <!-- age -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-question-circle prefix"></i>
                    <input id="profile_age" name="profile_age" minlength="2" maxlength="2" type="text" class="validate"
                        required>
                    <label for="profile_age">Age</label>
                </div>
            </div>
            <!-- city/town -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-question-circle prefix"></i>
                    <input id="profile_city" name="profile_city" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_city">Where are you from?</label>
                </div>
            </div>
            <!-- likes -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-thumbs-up prefix"></i>
                    <input id="profile_likes" name="profile_likes" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_likes">Likes about eating healthy?</label>
                </div>
            </div>
            <!-- dislikes -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-thumbs-down prefix"></i>
                    <input id="profile_dislikes" name="profile_dislikes" minlength="10" maxlength="60" type="text"
                        class="validate" required>
                    <label for="profile_dislikes">Dislikes about eating healthy?</label>
                </div>
            </div>